<html>
  <head>
    <title>WebGuesser</title>
    <style>
      #way_off { color: Crimson; }
      #off { color: Tomato; }
      #correct { color: Green; }
      #guess { width: 75px; }
      #guess:focus { outline: none }
    </style>
  </head>
  <body>
    <h1>WebGuesser</h1>
    <p>
      <p><%= settings.intro %></p>
      <form action="/" method="post">
        Your guess: <input type='text' name='guess' id='guess' autofocus>
        <input type='submit' value='Guess!'>
      </form>

      <% if session[:message] != nil %>
        <p><%= session[:message] %></p>
      <% end %>

      <% if session[:show_number] %>
        <p>The secret number is <%= session[:number] %>.</p>
      <% end %>

      <% if session[:play_again] != nil %>
        <p><%= session[:play_again] %></p>
      <% end %>
    </p>
  </body>
</html>
